<%- include('../../libs/html/util-m/header', {
title: '火星财经-区块链先锋门户',
description: '火星财经是集新闻、资讯、行情、数据等区块链信息等专业服务平台，致力于为区块链创业者以及数字货币投资者提供最新最及时的项目报道、投资顾问、项目分析、市场行情',
keywords: '区块链，区块链项目，区块链是什么，区块链概念股，区块链论坛，区块链社区，区块链服务，区块链培训，区块链资讯，区块链活动，区块链市场，区块链投资，区块链百科，虚拟币，数字货币，挖矿，虚拟币是什么，数字货币是什么，怎么挖矿，挖矿是什么，coinmarketcap，比特币，比特币今日价格，比特币交易平台，莱特币，以太坊',
plugin: ['../css/simditor.css'],
private: ['../css/public.css', '../css/details.css']
}) %>

<div class="details" style="padding-top: 0">
    <!--<div class="back-top"></div>-->
    <div class="details-header" style="margin-top: 0">
        <!--<h6>作为全球首个区块链搜索引擎星云链致力于发掘区块链世界价值新维度</h6>
        <div class="list-text">
            <div class="author clearfix">作者:
                <sapn>风怒的小鸟</sapn>
            </div>
            <div class="time clearfix">时间: <span>2018-12-12</span></div>
        </div>-->
    </div>

    <div class="details-synopsis" id="detailsSynopsis">
        <p></p>
    </div>

    <div class="simditor">
        <div class="details-cont simditor-body">
            <!--<p>疲弱的经济数据和美国政治前景不确定性加剧了美元跌势。周二公布的数据显示，美国1月里奇蒙德制造业指数自2017年11月历史高位30大幅下跌至14，连续两个月跌幅创2006年以来最大幅度。</p>-->
        </div>
    </div>

    <!--广告-->
    <div class="block-ad">
        <div class="block-ad-title">
            <h3 id="adTitle"></h3>
            <span>广告</span>
        </div>
        <div class="block-ad-con">
            <a id="adUrl" href=""><img id="adArc" src="" alt=""></a>
        </div>
    </div>

    <div class="news-correlation">
        <h6><span></span>相关新闻</h6>
        <div class="news-list-box">
            <!--<div class="news-list-more ">
                <div class="title">作为全球首个区块链搜索引擎，星云链致力于发掘区块链世界价值新维度</div>
                <div class="list-text">
                    <div class="author clearfix">作者:
                        <sapn>风怒的小鸟</sapn>
                    </div>
                    <div class="time clearfix">时间: <span>2018-12-12</span></div>
                </div>
                <div class="cover-img-sma"><img src="../../img/list.jpg" alt=""></div>
            </div>-->
        </div>
    </div>
</div>

<%- include('./include/share', {
app: true
}) %>
<%- include('../../libs/html/util-m/footer', {
plugin: [''],
private: ['../js/details.js'],
statistics: 'https://s22.cnzz.com/z_stat.php?id=1272858809&web_id=1272858809'
}) %>
