<%- include('../../libs/html/util-m/header', {
title: '火星财经-区块链先锋门户',
description: '火星财经是集新闻、资讯、行情、数据等区块链信息等专业服务平台，致力于为区块链创业者以及数字货币投资者提供最新最及时的项目报道、投资顾问、项目分析、市场行情',
keywords: '区块链，区块链项目，区块链是什么，区块链概念股，区块链论坛，区块链社区，区块链服务，区块链培训，区块链资讯，区块链活动，区块链市场，区块链投资，区块链百科，虚拟币，数字货币，挖矿，虚拟币是什么，数字货币是什么，怎么挖矿，挖矿是什么，coinmarketcap，比特币，比特币今日价格，比特币交易平台，莱特币，以太坊',
plugin: ['../css/swiper.min.css'],
private: ['../css/public.css', '../css/index.css']
}) %>

<div class="swiper-container wrap-box" id="hxwrap">
    <div class="huoxing-top" id="huoxingTop"><a href="/"><img src="../img/top.jpg" alt=""></a></div>
    <div class="swiper-pagination body-wrap" id="hxWrapPage"></div>
    <div class="swiper-wrapper overall-box" id="overAllBox">
        <div class="swiper-slide out-box white-bg">
            <div class="page-con-wrap" id="pageConWrap0">
                <div class="swiper-container banner" id="newsWrap">
                    <div class="swiper-wrapper newsWrap"></div>
                    <!--<div class="swiper-pagination" id="newsWrapPage"></div>-->
                </div>
                <div class="currency-price">
                    <div class="price-list" id="eightClock">
                        <div class="price-number">
                            <p>火星八点</p>
                        </div>
                    </div>
                    <div class="price-list" id="tenQuestions">
                        <div class="price-number">
                            <p>王峰十问</p>
                        </div>
                    </div>
                    <div class="price-list" id="twoSessions">
                        <div class="price-number">
                            <p>两会专题</p>
                        </div>
                    </div>
                </div>
                <div class="news-box">
                    <!-- <a href="http://m.huoxing24.com/2018/"><img style="width: 100%" src="../img/two-meeting.png" alt=""/></a> -->
                    <h6><span></span>今日新闻</h6>
                    <!--频道分类，频道变化修改list-box的id与btn-more的data-type-->
                    <div class="list-box" id="listBox0" data-page="1"></div>
                    <div class="btn-more" id="btnMore0" data-type="0">加载更多</div>
                </div>
            </div>
        </div>

        <!--快讯-->
        <div class="swiper-slide out-box">
            <div class="news-fash page-con-wrap" id="pageConWrapLive">
                <div class="fash-title"><img src="../img/time.png" alt=""/><span>最新</span></div>
                <div class="lives-box"></div>
                <div class="flash-more-btn">
                    <div class="btn-more-flash" id="btnMore100" data-type="1">加载更多</div>
                </div>
            </div>
        </div>

        <!--新闻-->
        <div class="swiper-slide out-box white-bg">
            <div class="btb page-con-wrap" id="pageConWrap10">
                <!--频道分类，频道变化修改list-box的id与btn-more的data-type-->
                <div class="btb-box" id="listBox10" data-page="1"></div>
                <div class="btn-more" id="btnMore10" data-type="10">加载更多</div>
            </div>
        </div>
        <div class="swiper-slide out-box white-bg">
            <div class="blockchain page-con-wrap" id="pageConWrap2">

                <!--频道分类，频道变化修改list-box的id与btn-more的data-type-->
                <div class="blockchain-box" id="listBox2" data-page="1"></div>
                <div class="btn-more" id="btnMore2" data-type="2">加载更多</div>
            </div>
        </div>
        <div class="swiper-slide out-box white-bg">
            <div class="btb page-con-wrap" id="pageConWrap9">

                <!--频道分类，频道变化修改list-box的id与btn-more的data-type-->
                <div class="btb-box" id="listBox9" data-page="1"></div>
                <div class="btn-more" id="btnMore9" data-type="9">加载更多</div>
            </div>
        </div>
        <div class="swiper-slide out-box white-bg">
            <div class="btb page-con-wrap" id="pageConWrap6">

                <!--频道分类，频道变化修改list-box的id与btn-more的data-type-->
                <div class="btb-box" id="listBox6" data-page="1"></div>
                <div class="btn-more" id="btnMore6" data-type="6">加载更多</div>
            </div>
        </div>
        <div class="swiper-slide out-box white-bg">
            <div class="btb page-con-wrap" id="pageConWrap3">

                <!--频道分类，频道变化修改list-box的id与btn-more的data-type-->
                <div class="btb-box" id="listBox3" data-page="1"></div>
                <div class="btn-more" id="btnMore3" data-type="3">加载更多</div>
            </div>
        </div>
        <div class="swiper-slide out-box white-bg">
            <div class="btb page-con-wrap" id="pageConWrap4">

                <!--频道分类，频道变化修改list-box的id与btn-more的data-type-->
                <div class="btb-box" id="listBox4" data-page="1"></div>
                <div class="btn-more" id="btnMore4" data-type="4">加载更多</div>
            </div>
        </div>
        <div class="swiper-slide out-box white-bg">
            <div class="btb page-con-wrap" id="pageConWrap7">

                <!--频道分类，频道变化修改list-box的id与btn-more的data-type-->
                <div class="btb-box" id="listBox7" data-page="1"></div>
                <div class="btn-more" id="btnMore7" data-type="7">加载更多</div>
            </div>
        </div>
        <div class="swiper-slide out-box white-bg">
            <div class="btb page-con-wrap" id="pageConWrap8">

                <!--频道分类，频道变化修改list-box的id与btn-more的data-type-->
                <div class="btb-box" id="listBox8" data-page="1"></div>
                <div class="btn-more" id="btnMore8" data-type="8">加载更多</div>
            </div>
        </div>
    </div>
    <!--<div class="back-top"></div>-->
</div>
<div class="bottom-down">
    <div class="b-logo">
        <p><img src="../img/bottom-log.png" alt=""></p>
        <p>
            <span>火星财经</span>
            <span>区块链先锋门户</span>
        </p>
    </div>
    <a class="b-down">立即下载</a>
</div>

<!-- <div class="hint"><img src="../img/wx-hint.png" alt=""></div> -->
<%- include('./include/share', {
app: false
}) %>
<%- include('../../libs/html/util-m/footer', {
plugin: ['../js/swiper.min.js'],
private: ['../js/index.js'],
statistics: 'https://s22.cnzz.com/z_stat.php?id=1272858809&web_id=1272858809'
}) %>
