<%- include('../../libs/html/util-m/header', {
title: '24小时全天候区块链财经门户',
description: '火星财经是集新闻、资讯、行情、数据等区块链信息等专业服务平台，致力于为区块链创业者以及数字货币投资者提供最新最及时的项目报道、投资顾问、项目分析、市场行情',
keywords: '区块链，区块链项目，区块链是什么，区块链概念股，区块链论坛，区块链社区，区块链服务，区块链培训，区块链资讯，区块链活动，区块链市场，区块链投资，区块链百科，虚拟币，数字货币，挖矿，虚拟币是什么，数字货币是什么，怎么挖矿，挖矿是什么，coinmarketcap，比特币，比特币今日价格，比特币交易平台，莱特币，以太坊',
plugin: [''],
private: ['../css/public.css', '../css/invite-app.css']
}) %>

<div class="invite-app">
    <div class="invite-logo"><img src="../img/invite-logo.png" alt=""></div>
    <div class="invite-slogan"><img src="../img/slogan-share.png" alt=""></div>
    <div class="invite-title"><img src="../img/invite-title.png" alt=""></div>
    <div class="invite-name">我是</div>
    <div class="invite-ewm">
        <div class="ewm" id="qrcode"></div>
        <div class="ewm-bg"><img src="../img/invite-ewm-bg.png" alt=""></div>
    </div>
</div>

<%- include('./include/share', {
app: false
}) %>
<%- include('../../libs/html/util-m/footer', {
plugin: ['http://static.huoxing24.com/assets/qrcode.min.js'],
private: ['../js/invite-app.js'],
statistics: ''
}) %>
