<%- include('../../libs/html/util-m/header', {
title: '火星财经-区块链先锋门户',
description: '火星财经是集新闻、资讯、行情、数据等区块链信息等专业服务平台，致力于为区块链创业者以及数字货币投资者提供最新最及时的项目报道、投资顾问、项目分析、市场行情',
keywords: '区块链，区块链项目，区块链是什么，区块链概念股，区块链论坛，区块链社区，区块链服务，区块链培训，区块链资讯，区块链活动，区块链市场，区块链投资，区块链百科，虚拟币，数字货币，挖矿，虚拟币是什么，数字货币是什么，怎么挖矿，挖矿是什么，coinmarketcap，比特币，比特币今日价格，比特币交易平台，莱特币，以太坊',
plugin: [''],
private: ['../css/live.css']
}) %>
<div class="wrap">
    <div class="banner-box">
        <img class="banner-img" src="../img/live-banner.jpg" alt="">
        <!-- <div class="introduction-btn"><span><img src="../img/left-l.png" alt=""></span>直播简介</div>
        <div class="introduction-cont"><span id="left-btn"><img src="../img/right-r.png" alt=""></span>
            <p>直播简介直播简，介直播简介直播，简介直播简介直播简介直播简介直播简介直播简介直播简介直播简介直播简介直播简介直播简介直播简介直播简介简介直播简介直播简介直播简介直播简介直播简介直播简介直播简介直播简介直播简介直播简介直播简介直播简介。</p></div>
        <div class="live-time"><p class="time">开始时间：<span>2018-03-07 22:00</span></p><font>直播中...</font></div> -->
    </div>
    <div class="inform-btn">
        <p class="wx-btn" id="wxBtn">参与讨论</p>
        <p><a href="http://m.huoxing24.com/">进入官网</a></p>
    </div>
    <div class="live-box">
        <div class="live-list clearfix">
            <!-- <div class="list">
                <a href="/html/liveDetails.html">
                    <p class="list-img"><img src="../img/list-01.png" alt=""></p>
                    <p class="list-text">介直播简介直播简介直播简介直播简介直播简介直播简介直播简介直播简介直播简介直播简介</p>
                </a>
            </div> -->
        </div>
    </div>
    <div class="live-ewm">
        <p><img src="../img/live-ewm.jpg" alt=""></p>
        <span>长按识别二维码加入微信群聊</span>
    </div>
    <div class="live-shade" id="liveShade"></div>
</div>
<%- include('../../libs/html/util-m/footer', {
plugin: [''],
private: ['../js/live.js'],
statistics: ''
}) %>
