<%- include('../../libs/html/util-m/header', {
title: '火星财经-区块链先锋门户',
description: '火星财经是集新闻、资讯、行情、数据等区块链信息等专业服务平台，致力于为区块链创业者以及数字货币投资者提供最新最及时的项目报道、投资顾问、项目分析、市场行情',
keywords: '区块链，区块链项目，区块链是什么，区块链概念股，区块链论坛，区块链社区，区块链服务，区块链培训，区块链资讯，区块链活动，区块链市场，区块链投资，区块链百科，虚拟币，数字货币，挖矿，虚拟币是什么，数字货币是什么，怎么挖矿，挖矿是什么，coinmarketcap，比特币，比特币今日价格，比特币交易平台，莱特币，以太坊',
plugin: [''],
private: ['../css/live.css']
}) %>
<div class="wrap">
    <input type="hidden" id="refreshed" value="no">
    <div class="banner-box">
        <img class="banner-img" src="" alt="">
        <div class="introduction-btn"><span><img src="../img/left-l.png" alt=""></span>直播简介</div>
        <div class="introduction-cont"><span id="left-btn"><img src="../img/right-r.png" alt=""></span>
            <p></p></div>
        <div class="live-time"><p class="time">开始时间：<span></span></p><p class="lives-state"></p></div>
    </div>
    <div class="inform-btn">
        <p id="wxBtn">参与讨论</p>
        <p><a href="http://m.huoxing24.com/">进入官网</a></p>
    </div>
    <div class="inform-box">
        <div class="inform-title">图文直播</div>
        <div class="details-box" id="informBox">
            <!-- <div class="inform-cont clearfix">
                <div class="inform-portrait"><img src="../img/banner.jpg" alt=""></div>
                <div class="inform-right-cont">
                    <div class="inform-cont-top">
                        <p class="name">火星财经</p>
                        <p class="time">2018-03-07 19:55</p>
                    </div>
                    <p class="r-arrow"></p>
                    <div class="inform-cont-text">
                        <p>金沙江创投董事总经理，拥有复旦大学的世界经济学硕士学位，上海交通大学通信工程学士学位。朱啸虎专注于互联网、无线和企业IT投资。</p>
                        <p><img src="../img/banner.jpg" alt=""></p>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="not-message clearfix">暂无直播内容...</div>
    </div>
    <div class="live-ewm">
        <p><img src="../img/live-ewm.jpg" alt=""></p>
        <span>长按识别二维码加入微信群聊</span>
    </div>
    <div class="live-shade" id="liveShade"></div>
</div>
<script>
    $(function () {
        let isPageHide = false
        window.addEventListener('pageshow', function () {
            if (isPageHide) {
                window.location.reload()
            }
        })
        window.addEventListener('pagehide', function () {
            isPageHide = true
        })
    })
</script>
<%- include('../../libs/html/util-m/footer', {
plugin: [''],
private: ['../js/live.js'],
statistics: ''
}) %>
