<%- include('../../libs/html/util-m/header', {
title: '火星财经-24 小时关注全球区块链',
description: '火星财经是集新闻、资讯、行情、数据等区块链信息等专业服务平台，致力于为区块链创业者以及数字货币投资者提供最新最及时的项目报道、投资顾问、项目分析、市场行情',
keywords: '区块链，区块链项目，区块链是什么，区块链概念股，区块链论坛，区块链社区，区块链服务，区块链培训，区块链资讯，区块链活动，区块链市场，区块链投资，区块链百科，虚拟币，数字货币，挖矿，虚拟币是什么，数字货币是什么，怎么挖矿，挖矿是什么，coinmarketcap，比特币，比特币今日价格，比特币交易平台，莱特币，以太坊',
plugin: ['../css/swiper.min.css'],
private: ['../css/public.css', '../css/index.css']
}) %>

<div id="livesPage"></div>
<div class="swiper-container wrap-box" id="hxwrap">
    <div class="swiper-wrapper overall-box lives-page" id="overAllBox">

        <!--app快讯页面防止swiper出错，无用但不可删除-->
        <div class="swiper-slide out-box white-bg" style="display: none">
            <div class="page-con-wrap" id="pageConWrap0">
                <div class="swiper-container banner" id="newsWrap">
                    <div class="swiper-wrapper newsWrap"></div>
                </div>
            </div>
        </div>

        <!--app快讯-->
        <div class="swiper-slide out-box">
            <div class="news-fash page-con-wrap lives-page" id="pageConWrapLive">
                <div class="fash-title"><img src="../img/time.png" alt=""/><span>最新</span></div>
                <div class="lives-box"></div>
                <div class="flash-more-btn">
                    <div class="btn-more-flash" data-type="1">加载更多</div>
                </div>
            </div>
        </div>
    </div>
    <div class="back-top"></div>
</div>

<%- include('./include/share', {
app: true
}) %>
<%- include('../../libs/html/util-m/footer', {
plugin: ['../js/swiper.min.js'],
private: ['../js/index.js'],
statistics: 'https://s22.cnzz.com/z_stat.php?id=1272858809&web_id=1272858809'
}) %>
