<%- include('../../libs/html/util-m/header', {
title: '24小时全天候区块链财经门户',
description: '火星财经是集新闻、资讯、行情、数据等区块链信息等专业服务平台，致力于为区块链创业者以及数字货币投资者提供最新最及时的项目报道、投资顾问、项目分析、市场行情',
keywords: '区块链，区块链项目，区块链是什么，区块链概念股，区块链论坛，区块链社区，区块链服务，区块链培训，区块链资讯，区块链活动，区块链市场，区块链投资，区块链百科，虚拟币，数字货币，挖矿，虚拟币是什么，数字货币是什么，怎么挖矿，挖矿是什么，coinmarketcap，比特币，比特币今日价格，比特币交易平台，莱特币，以太坊',
plugin: [''],
private: ['../css/public.css', '../css/register.css']
}) %>

<div class="register">
    <div class="bottom-down top">
        <div class="b-logo">
            <p><img src="../img/bottom-log.png" alt=""></p>
            <p>
                <span>火星财经APP</span>
                <br/>
                <span>区块链先锋门户</span>
            </p>
        </div>
        <a class="b-down">立即下载</a>
    </div>
    <div class="register-present">
        <!-- <p>当前注册人数：<span>33333</span></p> -->
        <p class="nst-num">注册你将获得：<span>33333</span>NST</p>
        <ul>
            <li><input id="phonenum" value="" type="text" placeholder="请输入手机号"></li>
            <li><input id="verifcode" value="" type="text" placeholder="请输入验证码"><button id="btnCode">获取验证码</button></li>
            <li><input id="password1" value="" type="password" placeholder="请输入密码"></li>
            <li><input id="password2" value="" type="password" placeholder="请确认密码"></li>
        </ul>
        <div class="register-hint"></div>
        <div class="register-submit">立即注册</div>
    </div>
    <div class="down-hint">
        <div class="hint-top">
            <h5>注册成功</h5>
            <p>下载App查看所获积分</p>
        </div>
        <div class="hint-bottom">
            <p class="close">确定</p>
            <a class="down-app">下载app</a>
        </div>
    </div>
</div>
<div class="register-shade"></div>

<%- include('./include/share', {
app: false
}) %>
<%- include('../../libs/html/util-m/footer', {
plugin: ['http://static.huoxing24.com/assets/layer.min.js'],
private: ['../js/register.js'],
statistics: ''
}) %>
