/**
 * Author：zhoushuanglong
 * Time：2017-08-29 19:30
 * Description：index
 */
@import "../../libs/scss/util-m";

.bta-head-wrap {
    width: 100%;
    height: rem(641);
    overflow: hidden;
    background: url("../img/bta-head-bg.jpg") no-repeat center / 100% 100%;

    img {
        display: block;
    }

    .symbol-text {
        width: rem(122);
        margin: rem(188) auto 0;
    }

    .slogan {
        width: rem(563);
        margin: rem(32) auto 0;
    }

    .slogan2 {
        width: rem(345);
        margin: rem(28) auto 0;
    }

    .master {
        width: rem(186);
        margin: rem(152) auto 0;
    }
}
