/**
 * Author：zhoushuanglong
 * Time：2017-08-29 19:30
 * Description：index
 */
@import "../../libs/scss/rem";

.details {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: rem(70);
    background: #f5f5f5;
    color: #212121;

    .back-top {
        position: fixed;
        bottom: rem(100);
        right: rem(20);
        z-index: 999999;
        width: rem(60);
        height: rem(60);
        background: url("../img/backTop.png") #fff no-repeat;
        border-radius: 100%;
        background-size: 100%;
        opacity: 0;

        &.top {
            opacity: 1;
        }
    }

    .huoxing-top {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: rem(75);
        z-index: 7779;

        .back-prev-page {
            position: absolute;
            left: rem(36);
            top: rem(20);
            height: rem(34);
            width: rem(18);
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    a {
        text-decoration: none;
        color: #212121;
    }

    .details-header {
        position: relative;
        width: rem(590);
        height: auto;
        padding: rem(25);
        margin-top: rem(20);
        background: #fff;
        text-align: left;

        h6 {
            font-size: rem(36);
            line-height: rem(52);
            margin: 0 0 rem(20) 0;
        }

        .list-text {
            position: relative;
            width: 100%;
            height: rem(40);
            line-height: rem(40);

            .author,
            .time {
                color: #bdbdbd;
                float: left;
                font-size: rem(18);

                span {
                    float: left;
                    margin-left: rem(10);
                }
            }

            .share-btn {
                position: absolute;
                right: 0;
                top: rem(5);
                width: rem(78);
                height: rem(24);
                background: url("../img/detail-share.png") no-repeat;
                background-size: 100%;
            }

            .time {
                position: absolute;
                right: rem(100);

                span {
                    float: right;
                    margin-left: rem(10);
                }
            }
        }
    }

    .details-cont {
        position: relative;
        width: rem(590);
        height: auto;
        padding: rem(25);
        background: #fff;
        margin-top: rem(10);

        p {
            margin: 0 0 rem(15) 0;
            line-height: rem(50); // 规范编辑
            word-wrap: break-word;
            font-size: rem(28) !important; // 规范编辑

            img {
                max-width: rem(590);
                height: auto !important;
            }
        }
    }

    .news-correlation {
        width: rem(590);
        height: auto;
        padding: rem(25);
        background: #fff;
        margin-top: rem(10);

        h6 {
            position: relative;
            width: 100%;
            height: rem(50);
            line-height: rem(50);
            font-size: rem(24);
            color: #212121;
            margin: 0 0 rem(15);
            padding-left: rem(10);
            box-sizing: border-box;

            span {
                position: absolute;
                top: rem(16);
                width: rem(20);
                height: rem(20);
                left: 0;
                float: left;
                border-left: 2px solid #00b0ff;
            }
        }

        .news-list-more {
            width: 100%;
            height: rem(110);
            position: relative;
            margin-bottom: rem(20);
            padding-bottom: rem(20);
            border-bottom: 1px #eee solid;

            &:last-child {
                border: none;
            }

            .title {
                width: rem(425);
                line-height: rem(30);
                font-size: rem(24);
                color: #212121;
                padding-bottom: rem(10);
            }

            .list-text {
                position: relative;
                width: rem(425);
                height: rem(40);
                line-height: rem(40);

                .author,
                .time {
                    color: #bdbdbd;
                    float: left;
                    font-size: rem(18);

                    span {
                        float: left;
                        margin-left: rem(10);
                    }
                }

                .time {
                    position: absolute;
                    right: 0;

                    span {
                        float: right;
                        margin-left: rem(10);
                    }
                }
            }

            .cover-img-sma {
                position: absolute;
                right: 0;
                top: 0;
                width: rem(145);

                img {
                    width: rem(145);
                    height: rem(110);
                }
            }
        }
    }
}

.block-ad {
    padding: rem(25);
    background: #fff;
    border-top: 1px solid #f5f5f5;

    .block-ad-title {
        margin-bottom: rem(25);
        height: rem(30);
        display: flex;
        justify-content: space-between;

        h3 {
            color: #212121;
            font-size: rem(26);
            line-height: rem(30);
        }

        span {
            background: #fff;
            border: 1px solid #e4e4e4;
            height: rem(24);
            width: rem(49);
            color: #bdbdbd;
            font-size: rem(16);
            line-height: rem(24);
            text-align: center;
        }
    }

    .block-ad-con {
        img {
            width: 100%;
        }
    }
}

