<div class="news-list-wrap">
    <div class="title">
        <p class="cn-title">峰会新闻</p>
        <p class="en-title">NEWS</p>
    </div>
    <ul class="news-content">
        <li class="news-item">
            <p class="news-img">
                <img src="../../img/bta-news-img.png" alt="">
            </p>
            <div class="news-item-content">
                <p class="news-item-title"></p>
                <p class="news-item-desc">加载中……</p>
                <p class="news-date">— —</p>
            </div>
        </li>
    </ul>
    <p class="news-more" id="news-more">
        查看更多
    </p>
</div>
