<div class="bta-head-wrap">
    <img class="symbol-text" src="../../img/symbol-text.png" alt="">
    <img class="slogan" src="../../img/slogan.png" alt="">
    <img class="slogan2" src="../../img/slogan2.png" alt="">
    <img class="master" src="../../img/master.png" alt="">
</div>
