<div class="footer-section">
    <p class="ad">广告合作</p>
    <div class="contact-us">
        <a class="qq">QQ：133000693</a>
        <a class="mail">商务邮箱：bd@huoxing24.com</a>
        <a class="tel">手机：1313347779</a>
        <a class="tg-email">投稿邮箱：tougao@huoxing24.com</a>
    </div>
    <div class="footer-bottom">
        <p class="copyright">Copyright ©2018 Huoxing24 Ltd. All Rights Reserved.</p>
        <div class="line-us">
            <img src="../../img/wx-btn.png" alt="" class="wx">
            <a href="https://t.me/huoxing24" target="_blank"><img src="../../img/tg-btn.png" alt="" class="tg"></a>
            <a href="https://weibo.com/huoxing24" target="_blank"><img src="../../img/wb-btn.png" alt="" class="wb"></a>
        </div>
        <p class="qrCode">
            <span>微信公众号</span>
            <img src="../../img/qrcode.jpg" alt="">
        </p>
    </div>
</div>
